@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  min-width: 1320px;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
nav {
  width:100%;
  background-color: #507F6F;
  padding: 20px;
}
nav div {
  display: inline-block;
}
.logo {
  text-align: left;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
.logo a, .login a {
  text-decoration: none;
  color: #9FFFDE;
  margin: 20px;
}
.logo a:hover, .login a:hover {
  text-decoration: none;
  color: #7FCCB1;
}
.album-list {
  background: hsl(0,0%,90%);
  width:15%;
  min-height: 500px;
  min-width: 200px;
}
.photo-list {
  background: hsl(0,0%,95%);
  position: relative;
  width: 84%;
  min-height: 500px;
  min-width: 1100px;
}
.photo-list img#loader {
  display:none;
  position: absolute;
  top: 100px;
  left: 20%;
}
.user-profile {
  width: 100%;
}
.user-profile div{
  display: inline-block;
  vertical-align: top;
}
#create_album {
  display: none;
}
#create_album input[name="title"] {
  width: 92%;
  margin: 0;
  padding: 3%;
  border:none;
  background:none;
  border-radius: 0px;
  border-bottom: 1px dashed white;
  outline: none;
}
#create_album input:focus {
  outline: none;
  box-shadow: none;
} 
.select_album div {
  width: 90%;
  padding: 5%;
}
.select_album div:hover {
  background: hsl(0,0%,98%);
}
.photo-list img {
  padding: 0;
  margin: 0;
}
#add_photo_form {
  background-color: #D3F2C4;
  display: none;
  padding: 10px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
#add_photo_form input[type="file"] {
  border: none;
  width: 100%;
  height: 100px;
  background: white;
}
