<h2>Albums: <i class="icon-plus-sign-alt"></i></h2>
<% @user.albums.each do |album| %>
  <a class="select_album" href="/c/<%= @user.nickname %>/album/<%= album.id %>" data-album="<%= album.id %>"><div><%= album.title %></div></a>
<% end %>
